.OurDeal{
    width: 100vw;
    height: 150vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20vh 0;

    .The__deal__container{
        width: 90%;
        height: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 5vw;
        border-bottom: #5E758D 2px solid;
        border-top: #5E758D 2px solid;


        .stats__container{
            width: 40%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 5vh 0 5vh 7.5vw;

            .header{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                padding-top: 5vh;
                height: 50%;
                gap: 0.5rem;

                h3{
                    font-size: 2rem;
                    font-weight: 800;
                    margin: 0;
                }

                p{
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin: 0;
                    padding-top: 1rem;
                }
                img{
                    padding-top: 1.5rem;
                    margin-left: 2.5vw;
                }
            }

            .devider{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 150%;
                height: 2px;
                background-color: #5E758D;
            }
            .stats__wrapper{
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                position: relative;
                width: 100%;
                height: 50%;
                gap: 4rem;

                .stat__container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                    .number__wrapper{
                        display: flex;

                        h1{
                            font-size: 3rem;
                            font-weight: 600;
                            margin: 0;
                            color: #00F0FF;
                        }
                        
                        .currency {
                            color: #00F0FF;
                            font-size: 3rem;
                            font-weight: 600;
                            margin-left: 2px;
                        }
                    }

                    p{
                        color: #050A10;
                        font-size: 1.5rem;
                        font-weight: 300;
                        margin: 0;
                        white-space: nowrap;
                    }
                }
            }
        }
        .mainText{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            padding: 7.5vh 0 5vh 0;
            p{
                width: 110%;
                font-size: 3rem;
                font-weight: 400;
                margin: 0;
                text-align: right;
            }
        }
    }

    .Quarentees__wrapper{
        width: 100%;
        height: 60%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 1rem;

        .deals__wrapper{
            width: 100%;
            height: 40%;
            padding: 0 10vw;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .deal__container{
                width: 30%;
                height: 60%;
                padding: 1rem 2rem;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                border: #00F0FF 2px solid;
                border-radius: 25px;
                gap: 0.5rem;

                h3{
                    font-size: 2rem;
                    font-weight: 800;
                    margin: 0;
                }

                p{
                   font-size: 1.5rem;
                   font-weight: 400;
                   margin: 0;
                   padding-top: 1rem;
                }
            }
        }

        .devider{
            width: 90%;
            height: 2px;
            background-color: #5E758D;
        }

        .quarantees__wrapper{
            width: 100%;
            height: 40%;
            padding: 0 10vw;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .deal__container{
                width: 30%;
                height: 60%;
                padding: 1rem 2rem;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                border: #050A10 2px solid;
                border-radius: 25px;
                gap: 0.5rem;

                h3{
                    font-size: 2rem;
                    font-weight: 800;
                    margin: 0;
                }

                p{
                   font-size: 1.5rem;
                   font-weight: 400;
                   margin: 0;
                   padding-top: 1rem;
                }
            }
        }
    }
}