@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100vw;
  margin: 0 !important;
  font-family: "Arimo", sans-serif;
  background-color: #04444C;
  &::-webkit-scrollbar {
    width: 0px;
  }
  &::-webkit-scrollbar-thumb {
    width: 0px;
  }
  // scrollbar-width: none; //only for Firefox
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}