.Count__Text__Container{
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        margin: 0;
        text-transform: uppercase;
        color: #00F0FF;
    }
}