.Testimonials{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    overflow: hidden;

    .Testimonials__Header{
        position: absolute;
        top: 10%;
        left: 10%;
        width: 100%;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .Testimonials__Header__container{
            display: flex;
            width: 25%;
            height: 10vh;
            p{
                margin: 0;
                font-size: 1.4rem;
                font-weight: 700;
                margin-top: 1.5rem;
            }

            h2{
                margin: 0;
                font-size: 2rem;
                font-weight: 700;
                padding-right: 1rem;
            }
        }

        .Testimonials__headerText{
            font-size: 1.2rem;
            font-weight: 400;
            width: 30%;
            margin-left: 5rem;
            margin-top: 1rem;
        }
    }

    .Testimonials__Carousel__container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60%;
        z-index: 1;

        .Testimonials__Carousel__subContainer{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 0; 
            flex-direction: column;

            .Testimonials__Carousel__itemWrapper{
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                width: 80%;
                height: 100%;
                
                .devider {
                    position: absolute;
                    bottom: 25%;
                    right: -15%;
                    width: 60%;
                    height: 2px;
                    background-color: #5E758D;
                }
            
                .second-devider {
                    width: 75%;
                    right: 50%;
                    bottom: -15%;
                }
                .Testimonials__Carousel__container__item{
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    flex-direction: column;
                    gap: 2rem;

                    .Testimonials__Carousel__container__item__header{
                        display: flex;
                        width: 40%;
                        justify-content: space-between;
                        align-items: flex-end;
                        gap: 2rem;
                        p{
                            font-size: 1.5rem;
                            font-weight: 700;
                            margin: 0;
                        }

                        .Testimonials__Carousel__container__item__header__controls{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 0.25rem;

                            button{
                                background-color: none;
                                border: none;
                                cursor: pointer;
                                font-size: 1.5rem;
                                font-weight: 700;
                            }
                            p{
                                font-size: 2rem;
                                font-weight: 300;
                                margin: 0;
                            }
                        }
                    }

                    .Testimonials__Carousel__container__item__content{
                        display: flex;
                        width: 40%;
                        p{
                            font-size: 1.5rem;
                            font-weight: 300;
                            margin: 0;
                        }
                    }

                    .Testimonials__Carousel__container__item__addInfo{
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        width: 40%;
                        p{
                            font-size: 1rem;
                            font-weight: 300;
                            margin: 0;
                        }
                    }
                }


                &:nth-of-type(2){
                    .Testimonials__Carousel__container__item{
                        justify-content: flex-start;
                        align-items: flex-start;
                        height: 60%;
                    }

                    .Testimonials__Carousel__container__item__header{
                        justify-content: space-between;
                        align-items: flex-start;
                    }
                }
            }
            

        }
    }

    .image__container{
        position: absolute;
        top: 60%;
        right: 5%;

    }

    .button__container{
        position: absolute;
        width: 100%;
        height: 25%;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        z-index: 70;
        .button{
            position: absolute;
            top: 50%;
            left: 25%;
            transform: translateY(-50%);
            z-index: 70;

                .Round__button_container{
                    width: 150px;
                    height: 150px;

                    a{
                        p{
                            line-height: 1.2;
                            font-size: 1.6rem;
                        }
                    }
                }
        }
    }
}